In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
from sklearn import linear_model

In [4]:
pd.read_csv(".\Data\multiple_linear_regression_dataset.csv").head()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\ahmed\AppData\Local\Temp\ipykernel_7380\1669344197.py:1: SyntaxWarning: invalid escape sequence '\D'
  pd.read_csv(".\Data\multiple_linear_regression_dataset.csv").head()

   age   experience   income
0    25            1   30450
1    30            3   35670
2    47            2   31580
3    32            5   40130
4    43           10   47830

In [7]:
data = pd.read_csv(".\Data\multiple_linear_regression_dataset.csv")
data.head()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\ahmed\AppData\Local\Temp\ipykernel_7380\878062043.py:1: SyntaxWarning: invalid escape sequence '\D'
  data = pd.read_csv(".\Data\multiple_linear_regression_dataset.csv")

   age   experience   income
0    25            1   30450
1    30            3   35670
2    47            2   31580
3    32            5   40130
4    43           10   47830

In [17]:
x = data[["age ","experience "]]
y = data["income"]

model = linear_model.LinearRegression()
model.fit(x,y);

In [18]:
model.coef_

array([ -99.19535546, 2162.40419192])

In [ ]:
## done by Ahmed Ehab